body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
body > * {
    background: gainsboro;
    padding: 2rem;
    text-align: center;
    border: 5px solid white;
}
.header,
.footer{
    flex: 1 100%;
}
.main{
    flex: 2
}
.sidebar{
    flex: 2
}

