body{
    display: flex;
}
div{
    background: grey;
    background: gainsboro;
    padding: 2rem;
    text-align:center;
    border: 5px solid white;
    row-gap: 3px;
    column-gap: 3px;
}
@media (orientation:landscape){
    body{
        flex-direction: row;
    }
}
@media (orientation:portrait){
    body{
        flex-direction: column;
    }
}
@media (min-resolution: 260dpi){
    div{
        background-color: red;
    }
}

